{
  "jsxSingleQuote": false,
  "singleQuote": false,
  "trailingComma": "es5",
  "tabWidth": 2,
  "proseWrap": "preserve",
  "printWidth": 140,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "singleAttributePerLine": true
}
